{% extends 'admin/base.html' %}
{% block head %}
    <link rel="stylesheet" href="/css/toastr.css">
{% endblock %}
{% block body %}
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Fan Speed (%)</th>
                    <th>Power Limit(W)</th>
                    <th>Temperature(C)</th>
                    <th>Memory Overclock(MHz)</th>
                    <th>Core Overclock(MHz)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for key,gpu in rig_details.device_info.items() %}
                    <tr data-id="{{ key }}">
                        <td>{{ gpu['name'] }}</td>
                        <td>
                            <input
                                    data-val="{{ gpu['fan_speed'] }}"
                                    class="changeable"
                                    type="text"
                                    value="{{ gpu['fan_speed'] }}"
                                    name="fan_speed"
                                    id="fan-speed">
                        </td>
                        <td>
                            <input
                                    data-val="{{ gpu['power_limit'] }}"
                                    class="changeable"
                                    value="{{ gpu['power_limit'] }}"
                                    type="text"
                                    name="power_limit"
                                    id="power-limit">
                        </td>
                        <td>{{ gpu['temperature'] }}</td>
                        <td>
                            <input
                                    data-val="{{ gpu['memory_overclock'] }}"
                                    class="changeable"
                                    value="{{ gpu['memory_overclock'] }}"
                                    type="text"
                                    name="memory_clock"
                                    id="memory-clock">
                        </td>
                        <td>
                            <input
                                    data-val="{{ gpu['core_overclock'] }}"
                                    class="changeable"
                                    value="{{ gpu['core_overclock'] }}"
                                    type="text"
                                    name="gpu_clock"
                                    id="gpu-clock">
                        </td>
                        <td>
                            <span
                                    class="save glyphicon glyphicon-ok-sign"
                                    style="cursor: pointer"></span>
                            <img
                                    id="preloader"
                                    style="display: none;"
                                    src="/preloader.gif" alt="">
                            <span
                                    class="reset glyphicon glyphicon-remove-sign"
                                    style="cursor: pointer"></span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block tail %}
    <script src="/js/toastr.js" type="text/javascript"></script>
    <script>
        jQuery(document).on('ready', function () {
            jQuery('.reset').on('click', function () {
                jQuery(this)
                    .parent()
                    .parent()
                    .find('.changeable')
                    .each(function () {
                        jQuery(this).val(
                            jQuery(this).data('val')
                        );
                    });
            });

            jQuery('.save').on('click', function () {
                jQuery(this).toggle();
                jQuery('#preloader').toggle();
                var data = {};
                var $row = jQuery(this)
                                .parent()
                                .parent();

                    $row
                        .find('.changeable')
                        .each(function () {
                            data[jQuery(this).attr('name')] = jQuery(this).val();
                        });
                data['id'] = $row.data('id');
                jQuery.ajax({
                    type: 'post',
                    url: '123',
                    data: data,
                    dataType: 'json',
                    error: function () {
                        jQuery('.save').toggle();
                        jQuery('#preloader').toggle();
                        jQuery.toast({
                            text: 'Settings not applied. Please check logs.',
                            showHideTransition: 'slide',
                            hideAfter: 5000,
                            position: 'top-right',
                            bgColor: 'red'
                        });
                    }
                })
                    .then(function () {
                        jQuery(this).toggle();
                        jQuery('#preloader').toggle();
                        jQuery.toast({
                            text: 'Settings successfully applied.',
                            showHideTransition: 'slide',
                            hideAfter: 5000,
                            position: 'top-right',
                            bgColor: 'green'
                        });
                    }.bind(this));
            });
        });
    </script>
{% endblock %}